.card-container {
  background: linear-gradient(
    180deg,
    rgba(98, 106, 136, 0.1) 0%,
    rgba(46, 49, 73, 0.1) 107.43%
  );
  position: relative;
  overflow: visible;
  width: 290px;
  height: 340px;
  margin-bottom: 3rem;
}

.card-icon {
  position: relative;
  width: 125px;
  height: 65px;
  background: #14172b;
  border-bottom-left-radius: 65px;
  border-bottom-right-radius: 65px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.card-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 55px;
  height: 28px;
  background: transparent;
  border-top-right-radius: 50px;
  box-shadow: 15px -15px 0 15px #14172b;
}

.card-icon::after {
  content: "";
  position: absolute;
  top: 0;
  right: -50px;
  width: 55px;
  height: 28px;
  background: transparent;
  border-top-left-radius: 50px;
  box-shadow: -15px -15px 0 15px #14172b;
}

.card-icon-container {
  height: 100px;
  width: 100px;
  z-index: 9;
  display: flex;
  top: -50px;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(98, 106, 136, 0.1) 0%,
    rgba(234, 179, 0, 0.06) 100%
  );
}

.card-content {
  position: absolute;
  width: 100%;
  padding-top: 75px;
  text-align: center;
}
